# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Virtual env
.venv/
venv/
# Ignorar carpetas de salida específicas
out_eta_f001/
out_eta_f005/
otros/
# IDE
.vscode/
.idea/
# Ignorar archivos de Excel
*.xlsx
*.xls
# Outputs
out/
paper_outputs/
*.sqlite

# Pytest
.pytest_cache/
